<div class="bg-white text-indigo-900">
    <p>{{ banner }}</p>
</div>

<h1> {{ title }} </h1>

<h2> {{ subtitle }} </h2>

<h2>About</h2>
<p>{{ about_text }}</p>

<div class="">
    <h2>Portfolio</h2>
    <p>Sample my coding prowess</p>
    {{ collection:projects }}

        {{ partial:projects/project_card }}

    {{ /collection:projects }}

    <h2>Side Projects</h2>
    <p>I love building things and helping people.</p>
    {{ collection:side_projects }}

    {{ partial:projects/project_card }}

    {{ /collection:side_projects }}
</div>
