<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ if meta_title }}{{ meta_title }}{{ else }}{{ title ensure_right=" - " }}{{ site_name }}{{ /if }}</title>
        <meta property="og:title"
            content="{{ if meta_title }}{{ meta_title }}{{ else }}{{ title ensure_right=" - " }}{{ site_name }}{{ endif }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site_url | remove_right:/ }}{{ url }}" />
        <meta property="og:image"
            content="{{ site_url | remove_right:/ }}{{ if assets:meta_image }}{{ assets:meta_image }}{{ url }}{{ /assets:meta_image }} {{ else }}{{ assets:global_meta_image }}{{ url }}{{ /assets:global_meta_image }}{{/if}}" />
        {{ assets:website_favicon }}
        <link rel="icon" type="image/png" href="{{ url }}">
        {{ /assets:website_favicon }}
        {{ assets:website_touch_icon }}
        <link rel="apple-touch-icon" href="{{ url }}">
        {{ /assets:website_touch_icon }}
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script src="{{ mix src='/js/site.js' }}"></script>

        {{ if head_scripts }}
        <!-- Custom Head Scripts -->
        {{ head_scripts }}
        {{ code }}
        {{ /head_scripts }}
        <!-- End Custom Head Scripts -->
        {{ /if }}

    </head>
    <body class="bg-background font-mono leading-loose text-surface flex flex-col md:flex-row">
        <header class="border-solid border-opacity-75 border-b md:border-b-0 md:border-r border-surface md:pr-12">
            <nav>
                {{ partial:nav/navbar }}
            </nav>
        </header>
        <main class="min-h-screen flex flex-col w-full">
            <div class="h-16 border-solid border-opacity-75 border-b border-surface">

            </div>
            <div class="container px-8 py-4 mx-auto px-2 mt-4">
                {{ template_content }}
            </div>
        </main>
    </body>
</html>
