{{ partial:text/headers
    :text="title"
    header_type="h2"
}}

<div class="my-3">
    {{ bard }}
    {{ partial src="sets/{type}" }}
    {{ /bard }}
</div>

<div class="flex flex-col flex-wrap md:flex-row">
    {{ collection:projects sort="start_date:desc" side_project:is="false" }}
    <a href="{{ url }}"
        class="flex flex-col w-full p-4 no-underline transition-colors duration-300 ease-in shadow-none group bg-surface md:w-1/2 hover:shadow-bright hover:pointer">
        {{ responsive:cover_image alt="{ cover_image:alt }" class="object-cover object-center h-64" }}
        <p class="text-base text-success group-hover:text-primary"> {{ title }} </p>
        <p class="text-xs opacity-50 text-success group-hover:text-primary"> {{ date_published }} </p>
    </a>
    {{ /collection:projects }}
</div>
