{{# <div class="flex items-center px-2 py-0 mb-2 mr-4 text-xs font-bold border border-secondary">
    <p class="mb-0 text-xs"> {{ title }} </p>
</div> #}}

{{# <p class="mb-0 text-xs">
    <span class="flex items-center px-2 py-0 mb-2 mr-4 text-xs font-bold text-transparent border border-current bg-clip-text">
        {{ title }}
    </span>
</p> #}}

{{# <p class="flex items-center px-2 py-0 mb-2 mr-4 text-xs font-bold text-transparent border border-current bg-clip-text ">
    <span class="text-transparent bg-clip-text gradient-to-br from-primary via-secondary to-surface">
        {{ title }}
    </span>
</p> #}}
<div class="flex items-center px-2 py-0 mb-2 mr-4 text-xs font-bold border border-secondary">
    <p class="text-xs">
        <span class="text-transparent bg-clip-text bg-gradient-to-br from-primary to-secondary">
           {{ title }}
        </span>
    </p>
</div>
