<div class="group transition-shadow duration-200 ease-in hover:shadow-lg hover:shadow-primary/25">
    <div class="flex flex-col h-full p-4 transition duration-200 ease-in bg-surface relative overflow-hidden">
        <!-- class="inline-block px-8 py-4 my-4 font-semibold text-white no-underline transition-colors duration-100 ease-in -->
        <!-- bg-gradient-to-r from-secondary to-primary hover:from-primary hover:to-secondary hover:text-background" -->
        <div class="flex flex-col">
            <div class="flex text-xs opacity-50 text-success">

                {{ if end_date }}
                {{# <div class="">{{ start_date format="Y" }} </div>
                <div class="">&nbsp;-&nbsp;</div> #}}
                <div class=""> {{ end_date format="Y" }}</div>

                {{ else }}
                <div class="">{{ start_date format="Y" }}</div>
                {{ /if }}
            </div>
            <div class="mt-0">
                {{# {{ if project_url }}
                <a class="mb-2 text-xl font-semibold text-success hover:text-surface" target="_blank" href={{ project_url }}>
                    {{ title }}
                </a>
                {{ else }}
                <p class="mb-2 text-xl font-semibold text-success">
                    {{ title }}
                </p>
                {{ /if }}
                once hover states are better use the above if statement in place of this p tag: #}}
                <p class="mb-1 text-xl sm:text-2xl font-semibold text-success tracking-tighter">
                    {{ title }}
                </p>
                <div class="prose prose-sm prose-p:text-success prose-p:opacity-75">
                    {{ description }}
                </div>
            </div>
        </div>
        <ul class="flex flex-wrap mt-4 text-transparent bg-clip-text  gradient-to-br from-primary via-secondary to-surface">

            {{ project_tags as tag }}
                <li>
                    {{ partial:projects/project_tag
                        :title=tag:title
                    }}
                </li>
            {{ /project_tags }}
        </ul>


        {{ if project_url }}
        <div class="mb-2">
            <a href="{{ project_url }}" target="_blank" class="text-xs opacity-75 link text-success group-hover:opacity-100">
                https://{{ project_url | parse_url:host }}
            </a>
        </div>
        {{ /if }}


        {{ if employer }}
            {{ employer }}
                <a href="{{ employer_url }}" target="_blank">
                    <span class="sr-only">
                        Link to {{ title }}
                    </span>
                    {{ responsive:logo alt="{ logo:alt }" class="absolute top-0 right-0 rotate-6 group-hover:rotate-12 z-0 opacity-25 group-hover:opacity-75 transition-all duration-150 ease-in h-10 w-auto" }}
                </a>
            {{ /employer }}
        {{ /if }}
    </div>
</div>
