<div class="p-4 bg-success">
    <p class="text-indigo-900 ">{{ banner }}</p>
</div>

<div class="my-3">
    {{ partial:text/headers
        text=title
        header_type="h1"
    }}
    <p> {{ subtitle }} </p>
</div>

<div class="my-3">
    {{ partial:text/headers
        text="About"
        header_type="h2"
    }}
    <p>{{ about_text }}</p>

    {{ partial:components/button
        text="View Resume"
        url="https://austriker27.github.io/resume/"
        is_external="true"
    }}
</div>

<div class="my-3">
    {{ partial:quote-block }}
</div>

<div class="my-3">
    {{ partial:text/headers
        text="Portfolio"
        header_type="h2"
    }}
    <p>Just a smattering of my favorite projects:</p>

    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {{ collection:projects featured:exists="true" sort="date:asc|title:desc" side_project:is="false" }}

        <li class="inline-flex" data-sal="slide-up">
            {{ partial:projects/project_card }}
        </li>

        {{ /collection:projects }}
    </ul>

    {{ partial:components/button
        text="See All"
        url="/projects"
    }}

    {{ partial:text/headers
        text="Side Projects"
        header_type="h2"
    }}
    <p>Some side projects that were the bee's knees, at least I thought so.</p>

    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {{ collection:projects featured:exists="true" sort="date:asc|title:desc" side_project:is="true" }}
            <li class="inline-flex" data-sal="slide-up">
                {{ partial:projects/project_card }}
            </li>
        {{ /collection:projects }}
    </ul>

    {{ partial:components/button
        text="See All"
        url="/side-projects"
    }}
</div>

<div class="my-3">
    <div class="flex flex-col flex-wrap sm:flex-row">
        <div class="flex flex-col w-full sm:w-1/3">
            {{ partial:text/headers
                text="Experience"
                header_type="h3"
            }}

            {{ collection:employers sort="date:asc" }}

            {{ if employer_url }}
            <a class="text-sm text-success" href="{{ employer_url }}"> {{ employer_name | lower }} </a>
            {{ else }}
            <p class="text-sm text-success"> {{ employer_name | lower }} </p>
            {{ /if }}

            <p class="text-sm text-success">{{ job_roles | lower }}</p>

            <p class="text-xs opacity-75 text-muted">
                {{ start_date }} to {{ end_date }}
            </p>

            {{ /collection:employers }}
        </div>

        <div class="flex flex-col w-full sm:w-1/3">
            {{ partial:text/headers
                text="Presentations"
                header_type="h3"
            }}

            {{ collection:presentations }}

            {{ if url }}
            <a class="text-sm text-success" href="{{ url }}"> {{ title }} </a>
            {{ else }}
            <p class="text-sm text-success"> {{ title }} </p>
            {{ /if }}

            <p class="text-xs opacity-75 text-muted">
                {{ date }}
            </p>

            {{ /collection:presentations }}
        </div>

        <div class="flex flex-col w-full sm:w-1/3">
            {{ partial:text/headers
                text="Accolades"
                header_type="h3"
            }}

            {{ collection:accolades sort="date:asc" }}

            <p class="text-sm text-success"> {{ title }} </p>

            <p class="text-xs opacity-75 text-muted">
                {{ date }}
            </p>

            {{ /collection:accolades }}
        </div>


    </div>
</div>
