{{# MOBILE NAV #}}
<div x-data="{ MenuIsOpen: false }">
    <div
        class="border-solid md:hidden border-b-1 border-success bg-background"
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        >
        {{# :class="{'fixed top-0 left-0 w-64 h-full ': MenuIsOpen }" #}}

        <div class="flex items-center justify-between" >
            <a href="/" class="h-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="175px" class="h-6">
                    <g>
                        <path
                            d="M2.6,12.5c0-5.1,4.2-9.4,9.4-9.4l0,0V0.5c-3,0-5.6,1-7.8,2.9c-5,4.4-5.5,11.9-1.2,16.9l2-1.7 C3.5,17,2.6,14.8,2.6,12.5z"
                            class="fill-current text-primary"></path>
                        <path
                            d="M12,21.9c-2.8,0-5.4-1.2-7.1-3.2l-2,1.7c0.4,0.5,0.9,0.9,1.4,1.3c5,4.3,12.6,3.6,16.8-1.5l-2-1.7 C17.4,20.6,14.8,21.9,12,21.9z"
                            class="fill-current text-secondary"></path>
                        <path
                            d="M12,0.5v2.6c5.1,0,9.4,4.2,9.4,9.4c0,2.3-0.8,4.4-2.2,6l2,1.7c1.9-2.3,2.8-4.7,2.8-7.7 C23.9,5.9,18.6,0.5,12,0.5z"
                            class="fill-current text-success"></path>
                        <text font-family="Inconsolata-Regular_Medium, Inconsolata, monospace" font-size="11.5" x="10" y="2"
                            class="fill-current text-success">
                            <tspan x="10" y="16">D</tspan>
                        </text>
                    </g>
                    <text font-family="Inconsolata-Regular_SemiBold, Inconsolata, monospace" font-size="18" x="30" y="-0"
                        class="font-bold fill-current text-md text-success">
                        <tspan x="30" y="18">{{ site:name }}</tspan>
                    </text>
                </svg>

            </a>
            <div class="flex -mr-2 md:hidden">
                <!-- Mobile menu button -->
                <button
                    class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
                    @click="MenuIsOpen = true" aria-label="Main menu" aria-expanded="false">
                    <!-- Icon when menu is closed. -->
                    <!-- Menu open: "hidden", Menu closed: "block" -->
                    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    {{# <svg :class="{'hidden': MenuIsOpen, 'block': !MenuIsOpen }" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg> #}}
                    <!-- Icon when menu is open. -->
                    <!-- Menu open: "block", Menu closed: "hidden" -->
                    {{# <p :class="{'block': MenuIsOpen, 'hidden': !MenuIsOpen }" class="text-xs lowercase italics"
                        @click="MenuIsOpen = false">
                        close menu >>
                    </p> #}}
                    {{# <svg :class="{'block': MenuIsOpen, 'hidden': !MenuIsOpen }" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg> #}}
                </button>
            </div>
            <!--
                Mobile menu, toggle classes based on menu state.

                Menu open: "block", Menu closed: "hidden"
              -->
            <div  class="hidden"
                @click.away="MenuIsOpen = false">
                <div class="px-2 pt-2 pb-3">
                    {{ nav:main_nav include_home="false"  }}
                    <a class="block px-3 py-2 text-base font-medium text-white transition duration-150 ease-in-out focus:text-white focus:bg-gray-700"
                        href="{{ url }}" {{ if is_current }}
                        class="block px-3 py-2 text-base font-medium transition duration-150 ease-in-out focus:text-white focus:bg-gray-700 text-success"
                        {{ /if }}>
                        {{ title }}
                    </a>
                    {{ /nav:main_nav }}
                </div>
            </div>

        </div>
    </div>

    {{# MOBILE NAV OPEN #}}
    <div
        class="absolute top-0 left-0 w-screen h-screen"
        x-show="MenuIsOpen"
        @click.away="MenuIsOpen = false"
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        >
        <div class="absolute top-0 left-0 w-screen h-screen bg-black opacity-75">
        </div>
        <div
            class="fixed top-0 left-0 w-64 h-full border-solid md:hidden border-b-1 border-success bg-background"
            x-show="MenuIsOpen"
            @click.away="MenuIsOpen = false"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform -translate-x-full"
            x-transition:enter-end="opacity-100 transform translate-x-0"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="opacity-100 transform translate-x-0"
            x-transition:leave-end="opacity-0 transform -translate-x-full"


            >

            <div class="flex flex-col justify-between p-6">
                <a href="/" class="h-6 pl-2 mb-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="175px" class="h-6">
                        <g>
                            <path
                                d="M2.6,12.5c0-5.1,4.2-9.4,9.4-9.4l0,0V0.5c-3,0-5.6,1-7.8,2.9c-5,4.4-5.5,11.9-1.2,16.9l2-1.7 C3.5,17,2.6,14.8,2.6,12.5z"
                                class="fill-current text-primary"></path>
                            <path
                                d="M12,21.9c-2.8,0-5.4-1.2-7.1-3.2l-2,1.7c0.4,0.5,0.9,0.9,1.4,1.3c5,4.3,12.6,3.6,16.8-1.5l-2-1.7 C17.4,20.6,14.8,21.9,12,21.9z"
                                class="fill-current text-secondary"></path>
                            <path
                                d="M12,0.5v2.6c5.1,0,9.4,4.2,9.4,9.4c0,2.3-0.8,4.4-2.2,6l2,1.7c1.9-2.3,2.8-4.7,2.8-7.7 C23.9,5.9,18.6,0.5,12,0.5z"
                                class="fill-current text-success"></path>
                            <text font-family="Inconsolata-Regular_Medium, Inconsolata, monospace" font-size="11.5" x="10" y="2"
                                class="fill-current text-success">
                                <tspan x="10" y="16">D</tspan>
                            </text>
                        </g>
                        <text font-family="Inconsolata-Regular_SemiBold, Inconsolata, monospace" font-size="18" x="30" y="-0"
                            class="font-bold fill-current text-md text-success">
                            <tspan x="30" y="18">{{ site:name }}</tspan>
                        </text>
                    </svg>

                </a>

                <!--
                    Mobile menu, toggle classes based on menu state.

                    Menu open: "block", Menu closed: "hidden"
                  -->
                <div class="md:hidden" x-show="MenuIsOpen"
                    @click.away="MenuIsOpen = false">
                    <div class="">
                        <!-- Mobile menu button -->
                        <button
                            class="inline-flex items-center justify-center p-2 text-gray-400"
                            @click="MenuIsOpen = true" aria-label="Main menu" aria-expanded="false">
                            <p class="text-xs lowercase italics"
                                @click="MenuIsOpen = false">
                                close >>
                            </p>
                            {{# <svg :class="{'block': MenuIsOpen, 'hidden': !MenuIsOpen }" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                            </svg> #}}
                        </button>
                        {{ nav include_home="false" }}
                        <a class="block px-2 py-1 text-xs font-medium text-white transition duration-150 ease-in-out focus:text-white focus:bg-gray-700"
                            href="{{ url }}" {{ if is_current }}
                            class="block p-2 text-xs font-medium transition duration-150 ease-in-out focus:text-white focus:bg-gray-700 text-success"
                            {{ /if }}>
                            {{ title }}
                        </a>
                        {{ /nav }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{# DESKTOP NAV #}}
<div class="hidden w-64 md:inline-block">
    <ul class="flex justify-end">
        <li class="flex items-center h-16">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="175px" height="35px">
                    <g>
                        <path
                            d="M2.6,12.5c0-5.1,4.2-9.4,9.4-9.4l0,0V0.5c-3,0-5.6,1-7.8,2.9c-5,4.4-5.5,11.9-1.2,16.9l2-1.7 C3.5,17,2.6,14.8,2.6,12.5z"
                            class="fill-current text-primary"></path>
                        <path
                            d="M12,21.9c-2.8,0-5.4-1.2-7.1-3.2l-2,1.7c0.4,0.5,0.9,0.9,1.4,1.3c5,4.3,12.6,3.6,16.8-1.5l-2-1.7 C17.4,20.6,14.8,21.9,12,21.9z"
                            class="fill-current text-secondary"></path>
                        <path
                            d="M12,0.5v2.6c5.1,0,9.4,4.2,9.4,9.4c0,2.3-0.8,4.4-2.2,6l2,1.7c1.9-2.3,2.8-4.7,2.8-7.7 C23.9,5.9,18.6,0.5,12,0.5z"
                            class="fill-current text-success"></path>
                        <text font-family="Inconsolata-Regular_Medium, Inconsolata, monospace" font-size="11.5" x="10"
                            y="2" class="fill-current text-success">
                            <tspan x="10" y="16">D</tspan>
                        </text>
                    </g><text font-family="Inconsolata-Regular_SemiBold, Inconsolata, monospace" font-size="18" x="30"
                        y="-0" class="font-bold fill-current text-md text-success">
                        <tspan x="30" y="18">{{ site:name }}</tspan>
                    </text>
                </svg>

            </a>
        </li>
    </ul>
    <ul class="flex flex-col items-end mt-4">
        {{ nav:main_nav include_home="false" }}
        <li class="mb-2">
            <a href="{{ url }}" {{ if is_current }} class="text-success" {{ /if }}>
                {{ title }}
            </a>
        </li>
        {{ /nav:main_nav }}
    </ul>
</div>
