@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* fancy gradient over that fills on hover but doesnt wrap */
.link {
  @apply text-muted;
  text-decoration: none;
  background-image: linear-gradient(theme('colors.secondary'), theme('colors.secondary')), linear-gradient(
      theme('colors.muted'),
      theme('colors.muted')
    ), linear-gradient(theme('colors.primary'), theme('colors.primary'));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.35s linear, background-position 0.35s linear;
}
.link:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
  @apply text-primary;
}


/* .link {
    @apply text-muted;
    @apply border-b;
    @apply border-muted;
    @apply transition-colors;
    @apply duration-200;
    @apply ease-in;
}

.link:hover {
    @apply border-b-2;
    @apply border-primary;
} */

h1, h2, h3, h4, h5 {
    @apply text-primary;
    @apply font-bold;
    @apply mb-1;
}

h1::before, h2::before, h3::before, h4::before, h5::before {
    content: '→';
    @apply text-surface;
    margin-right: 4px;
}

h1::after, h2::after, h3::after, h4::after, h5::after {
    content: '()';
    @apply text-secondary;
    /* color: var(--theme-ui-colors-secondary,#A832D7); */
    margin-left: 4px;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

p {
    @apply text-white;
    @apply text-base;
}

ul {
    @apply text-white;
    @apply text-base;
}

li {
    @apply text-white;
    @apply text-base;
}

