@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

a {
    @apply underline;
    @apply text-indigo-500;
}

h1, h2, h3, h4, h5 {
    @apply text-primary;
    @apply font-bold;
}

h1::before, h2::before, h3::before, h4::before, h5::before {
    content: '→';
    @apply text-surface;
    margin-right: 8px;
}

h1::after, h2::after, h3::after, h4::after, h5::after {
    content: '()';
    @apply text-secondary;
    /* color: var(--theme-ui-colors-secondary,#A832D7); */
    margin-left: 4px;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

p {
    @apply text-white;
    @apply text-base;
}
